<section id="table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="header-top header-section">
          <span>Section</span>
        </th>
        <th scope="col" class="header-top"></th>
        <th scope="col" class="header-top"></th>
        <th scope="col" class="header-top header-add-category">
          <span>+ ADD A CATEGORY</span>
        </th>
      </tr>
      <tr>
        <th scope="col" class="header-bottom"></th>
        <th scope="col" class="header-bottom">CATEGORY</th>
        <th scope="col" class="header-bottom">SEQ</th>
        <th scope="col" class="header-bottom"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="category">
          <span>
            <img src="../../assets/images/icon/icons-draggable/Group 11070.svg" alt="Draggable Category Icon">
          </span>
        </td>
        <td class="category">
          <span>Category 1</span>
        </td>
        <td class="category">
          <span>1</span>
        </td>
        <td class="category">
          <span></span>
        </td>
      </tr>

      <tr>
        <td class="category">
          <span>
            <img src="../../assets/images/icon/icons-draggable/Group 11070.svg" alt="Draggable Category Icon">
          </span>
        </td>
        <td class="category">
          <span>Category 2</span>
        </td>
        <td class="category">
          <span>2</span>
        </td>
        <td class="category">
          <span></span>
        </td>
      </tr>

      <tr>
        <td class="category">
          <span>
            <img src="../../assets/images/icon/icons-draggable/Group 11070.svg" alt="Draggable Category Icon">
          </span>
        </td>
        <td class="category">
          <span>Category 3</span>
        </td>
        <td class="category">
          <span>3</span>
        </td>
        <td class="category">
          <span></span>
        </td>
      </tr>

      <tr>
        <td class="category">
          <span>
            <img src="../../assets/images/icon/icons-draggable/Group 11070.svg" alt="Draggable Category Icon">
          </span>
        </td>
        <td class="category">
          <span>Category 4</span>
        </td>
        <td class="category">
          <span>4</span>
        </td>
        <td class="category">
          <span></span>
        </td>
      </tr>

      <tr>
        <td class="category">
          <span>
            <img src="../../assets/images/icon/icons-draggable/Group 11070.svg" alt="Draggable Category Icon">
          </span>
        </td>
        <td class="category">
          <span>Category 5</span>
        </td>
        <td class="category">
          <span>5</span>
        </td>
        <td class="category">
          <span></span>
        </td>
      </tr>

      <tr>
        <td class="category">
          <span>
            <img src="../../assets/images/icon/icons-draggable/Group 11070.svg" alt="Draggable Category Icon">
          </span>
        </td>
        <td class="category">
          <span>Category 6</span>
        </td>
        <td class="category">
          <span>6</span>
        </td>
        <td class="category">
          <span></span>
        </td>
      </tr>
    </tbody>
  </table>
</section>