<section>
  <table id="table" class="table table-striped">
    <thead>
      <tr class="header-top">
        <th scope="col" class="header-section-col">
          <span>Section</span>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col" class="header-add-category">
          <span class="add-category" (click)="onClickAddRow()">+ ADD A CATEGORY</span>
        </th>
      </tr>
      <tr class="header-bottom">
        <th scope="col"></th>
        <th scope="col" class="header-bottom-col">CATEGORY</th>
        <th scope="col" class="header-bottom-col">SEQ</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tableField of tableFieldArray; let i = index" id="tb-row-1">
        <td class="category category-col-1">
          <span>
            <img src="../../assets/images/icon/icon-draggable/Group 11070.svg" class="draggable-icon" alt="Draggable Category Icon">
          </span>
        </td>
        <td class="category category-col-2">
          <input [(ngModel)]="tableField.name" type="text" name="{tableField.name}" placeholder="category">
        </td>
        <td class="category category-col-3">
          <span>{{i + 1}}</span>
        </td>
        <td *ngIf="!tableField.saveState; else removeField" class="category-save">
          <button class="remove-row" alt="Save Category Icon" type="button" (click)="onClickSaveCategory(i)">SAVE</button>
        </td>
        <ng-template #removeField>
          <td class="field-remove">
            <span>
              <img src="../../assets/images/icon/icon-remove/Group 15571.svg" class="remove-row" alt="Remove Field Icon" (click)="onClickRemoveRow(i)">
            </span>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</section>