table {
  box-shadow: 0 1px 3px 0 rgba(10, 54, 69, 0.16);
  margin: 3em auto;
  width: 96%;
}

td, .header-section-col, .col-1 {
  padding: 19px 0 22px 25px;
}

.header-top > th {
  border-bottom: none;
}

.header-bottom > th {
  border-top: none;
}

.header-add-category {
  padding: 19px 10px 22px 0;
  text-align: right;
}

.header-col-1 > span {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 3px;
  width: 49px;
}

.header-bottom-col {
  color: #7a8a90;
  font-family: Helvetica;
  padding-left: 0;
}

.header-add-category > button {
  background-color: transparent;
  border: none;
  color: #06b4de;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
}

.table-striped > tbody > tr:nth-child(even) > td, 
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f2f2f2;
}

.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fff;
}

.col-2, .col-3 {
  padding-left: 0;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 30%;
}

.col-3 {
  width: 40%;
}

.category-save, .field-remove {
  text-align: right
}

.category-save {
  padding-right: 5px;
}

.category-save > button {
  background-color: transparent;
  border: none;
  color: #06b4de;
  font-size: 12px;
}

.field-remove {
  padding-right: 12px;
}

.col-3 > span {
  background-color: #98cb65;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
}

.draggable-icon {
  height: 9.7px;
  object-fit: contain;
  width: 10.6px;
}

.remove-row-icon {
  height: 27px;
  width: 27px;
}