.header-top {
  border-bottom: none;
}

.header-bottom {
  border-top: none;
}

.header-section {
  padding: 19px 0 22px 25px;
}

.header-add-category {
  padding: 19px 10px 22px 0;
}

.header-section > span {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 3px;
  width: 49px;
}

.header-add-category {
  text-align: right;
}

.header-add-category > span {
  color: #06b4de;
  font-family: Helvetica;
  font-size: 10px;
  height: 10px;
  width: 98px;
}






.category img {
  height: 9.7px;
  object-fit: contain;
  width: 10.6px;
}

